/* Register.css */

/* Container styles */
.register-container {
    max-width: 400px;
    margin: 0 auto;
    position: relative;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
   bottom: 80px;
}

/* Form styles */
.register-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

/* Message styles */
#register-message {
    margin-top: 10px;
    text-align: center;
    font-size: 20px;
    color: #007bff;
    font-weight: bold;
}
